<!--Inicio barra de navegacion-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color:orangered;">
        <a class="navbar-brand" data-scroll href="#inicio">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#packaging" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" data-scroll href="#packaging">Packaging</a></li>
                        <li><a class="dropdown-item" data-scroll href="#marketing">Marketing</a></li>
                        <li><a class="dropdown-item" data-scroll href="#pop">Pop</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-scroll href="#Maquinas">Maquinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-scroll href="#Contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-scroll href="#Ubicación">Ubicación</a>

                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="home" class=""></div>
</div>
<!--Fin barra de navegacion-->

<!-- Inicio Introduccion-->

<div id="inicio" class="container fluid py-4 mb-4">

    <img src="images\logo.png" class="rounded" alt="...">
    <p class="text-sm-start mt-4">Bienvenidos a NUEVO DISEÑO S.A.
        Una empresa dedicada a la industria gráfica desde hace más de cuarenta años.
        Nos especializamos en impresión de muy alta calidad, con seguimiento personalizado y estricto cumplimiento
        de los tiempos requeridos por nuestros clientes.</p>

</div>



<!--Fin de Introduccion-->

<!--Inicio productos de packaging-->
<div id="packaging" class="container-fluid py-4">
    <h2 class="text-center">PRODUCTOS DE PACKAGING</h2>
    <div class="card-group py-4">
        <div class="card border-dark">
            <img src="images\cajas para productos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cajas para productos</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\cosmetica.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cosmetica</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\Estuches Medicinales.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Estuches Medicinales</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\prospectos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">prospectos</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

<!--Fin de productos de packaging-->

<!--Inicio de productos de Marketing-->
<div id="marketing" class="container-fluid">
    <h2 class="text-center">PRODUCTOS DE MARKETING</h2>
    <div class="card-group py-4">
        <div class="card border-dark">
            <img src="images\agendas y cuadernos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Agendas/Cuadernos</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\bolsas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bolsas</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\calendarios.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Calendarios</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\carpetas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carpetas</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card border-dark">
            <img src="images\cubos promocionales.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cubos Promocionales</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\folletos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Folletos</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\recetarios.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Recetarios</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\sobres.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sobres</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

<!--Fin de productos de Marketing-->

<!--Incio de productos pop-->
<div id="pop" class="container-fluid py-4">
    <h2 class="text-center">PRODUCTOS POP</h2>
    <div class="card-group py-4">
        <div class="card border-dark">
            <img src="images\Banners de lona.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Banners de Lona</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\Marcos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Marcos</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\Pancartas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pancartas</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="images\Salientes y Cenefas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Salientes/Cenefas</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

<!--Fin de productos pop-->


<!--Inicio de maquinas-->
<div id="Maquinas" class="container">
    <h3><strong>Maquinas</strong></h3>
    <ul class="lista-maquinas">
        {{#each maquinas}}
        <li><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal{{id}}"><img src="{{imagen}}"> {{titulo}}</a></li>
        {{/each}}
    </ul>
    <!--Inicio modal-->
{{#each maquinas}}
<div class="modal fade" id="modal{{id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{titulo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>{{titulo}}</h4>
        <img src="{{imagen}}" alt="">
        <p>{{cuerpo}}</p>
      </div>
    </div>
    </div>
</div>
{{/each}}
<!--fin modal-->
</div>

<!--fin de maquinas-->




<!--Inicio de contactanos-->
<form action="/" method="post">
    <div id="Contacto" class="container">
        <div class="row align-items-start">
            <div class="col-9">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">
                        <div class="row">
                            <div class="col">
                                <p class="text-dark">Nombre</p>
                                <input type="text" class="form-control" placeholder="Nombre" aria-label="First name" name="nombre">
                            </div>
                            <div class="col">
                                <p class="text-dark">Apellido</p>
                                <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name" name="apellido">
                            </div>
                        </div>
                    </label>
                    <p class="text-dark">Número de telefono</p>
                    <input type="text" class="form-control" id="telefono" placeholder="telefono" name="telefono">
                    <p class="text-dark">Mail</p>
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="email"
                        placeholder="name@example.com">
                   
                    <p class="text-dark">Mensaje</p>
                      <label for="exampleFormControlTextarea1" class="form-label"></label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje"></textarea>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
</form>
{{#if message}}
{{message}}
{{/if}}
</div>
<div class="col-3">
    <h3><strong>CONTACTANOS</strong></h3>
    <p>NUEVO DISEÑO S.A.
        <br> Terrero 2156/58 CP 1416 Buenos Aires </br>
        <br><a href="tel:+54 11 4588 0421">+54 11 4588 0421</a></br>
        <br><a href="mailto:presupuestos@disegno.com.ar">presupuestos@disegno.com.ar</a></br>
    </p>
</div>

</div>
<!-- Fin de contactanos-->


<!--inicio ubicacion-->
<div id="Ubicación" class="container">
    <h3><strong>UBICACIÓN</strong></h3>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9814544494207!2d-58.47152738519528!3d-34.60463046505249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9fdd0129d5b%3A0xc1f1e191ae0ebe8b!2sTerrero%202156%2C%20C1416BMV%20CABA!5e0!3m2!1ses!2sar!4v1650828885635!5m2!1ses!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!--fin de ubicacion-->
<footer>
    <p class="text-center">Diseñado por Antonella Dal Poggetto</p>
</footer>